{% extends 'base.html' %}

{% block head %}
    <title>List of opinions</title>
{% endblock head %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container w-75 mt-5 bg-light rounded-4 border border-dark border-2 text-center">
        {% for opinion in object_list %}
            <div class="row mb-3 border">
                <div class="row justify-content-md-center" id="{{ opinion.pk }}">
                    <p>Rating:</p>
                    <p class="text-dark fw-bold">{{ opinion.rating }}</p>
                </div>
                <div class="row justify-content-md-center">
                    <p>Author:</p>
                    <p class="text-dark fw-bold">{{ opinion.author }}</p>
                </div>
                <div class="row justify-content-md-center">
                    <p>Change status:</p>
                    <a class="text-dark fw-bold" href="{% url 'admin-status-opinion' opinion.pk %}">{{ opinion.get_status_display }}</a>
                    <p></p>
                </div>
                <div class="row justify-content-md-center">
                    <p>Description:</p>
                    <p class="text-dark fw-bold w-50">{{ opinion.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container w-25 mt-3 bg-light rounded-4 border border-dark border-2">
        <div class="pagination justify-content-md-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}