{% extends 'base.html' %}

{% block head %}
    <title>Account Doctor</title>
{% endblock head %}

{% block content %}
    <div class="container-fluid w-100 mt-5 bg-light rounded-4 border border-dark border-2 text-center">
        <p class="text-dark fw-bold fs-4">Your all patients</p>
        {% if object_list %}

            {% for patient in object_list %}
                <div class="row mb-1">
                    <div class="col">
                        {{ patient }}
                    </div>
                    <div class="col">
                        <a class="btn btn-dark btn-sm" href="{% url 'patient-timeline' patient.pk %}">User Timeline</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="fw-bold fs-4">You don't have any appointments yet</p>
        {% endif %}
    </div>
{% endblock content %}