{% extends 'base.html' %}

{% block head %}
    <title>Account Doctor</title>
{% endblock head %}

{% block content %}
    <div class="container-fluid w-100 mt-5 bg-light rounded-4 border border-dark border-2 text-center">
        <span class="text-dark fw-bold fs-4">Welcome</span> <p>{{ user.first_name }} {{ user.last_name }}</p>
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-dark btn-sm" href="{% url 'doctor-work' %}">Set up your work time</a>
            </div>
            <div class="col">
                <a class="btn btn-dark btn-sm" href="{% url 'doctor-patients' %}">Your all patients</a>
            </div>
            <div class="col">
                <a class="btn btn-dark btn-sm" href="#">Add article</a>
            </div>
        </div>
    </div>
    {% if today_appointments %}
     <div class="container-fluid w-100 mt-3 bg-light rounded-4 border border-dark border-2 text-center">
        <p class="text-dark fw-bold fs-5">Today appointments</p>
             {% for appointment in today_appointments %}
                 <div class="row mb-1">
                    <div class="col">
                        {{ appointment.patient }}
                    </div>
                     <div class="col">
                        {{ appointment.time }}
                    </div>
                     <div class="col">
                        <a class="btn btn-sm btn-dark"
                           href="{% url 'doctor-start-appointment' appointment.pk %}">Start appointment</a>
                    </div>
                 </div>
             {% endfor %}
     </div>
    {% endif %}
{% endblock content %}