{% extends 'base.html' %}

{% block head %}
    <title>Med-Hospital</title>
{% endblock head %}

{% block content %}
            <div class="container-fluid mt-5 bg-light rounded-4 border border-dark border-2">
                <div class="row text-center">
                    <p class="text-center mt-3 fs-5 fw-bold">Nasze najpopularniejsze usługi</p>
                <div class="col">
                    <p class="bg-dark rounded-4 fw-bold text-white">Usługa</p>
                </div>
                <div class="col">
                    <p class="bg-dark rounded-4 fw-bold text-white">Usługa</p>
                </div>
                <div class="col">
                    <p class="bg-dark rounded-4 fw-bold text-white">Usługa</p>
                </div>
                <div class="col">
                    <p class="bg-dark rounded-4 fw-bold text-white">Usługa</p>
                </div>
                </div>
            </div>
        <div class="cointaner mx-1">
                <div class="container-fluid mt-3 bg-light rounded-4 border border-dark border-2">
                    <div class="row">
                        <p class="text-center fw-bold fs-5">Nasze artykuły</p>
                </div>
        </div>
        </div>
        <div class="cointaner mx-1">
            <div class="container-fluid mt-3 bg-light rounded-4 border border-dark border-2">
                <div class="row">
                    <p class="text-center fw-bold fs-5">Gdzie nas szukać</p>
             </div>
        </div>
        </div>
        <div class="cointaner mx-1">
            <div class="container-fluid mt-3 bg-light rounded-4 border border-dark border-2">
                <div class="row">
                    <p class="text-center fw-bold fs-5">Opinie</p>
             </div>
        </div>
        </div>
{% endblock content %}