{% extends 'base.html' %}

{% block head %}
    <title>Registration</title>
{% endblock head %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container-fluid w-50 mt-5 bg-light rounded-4 border border-dark border-2 text-center">
        <p class="text-dark fw-bold fs-4">Your personal data</p>
        <form method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <button class="btn btn-dark mt-3 mb-3" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}