{% extends 'base.html' %}

{% block head %}
    <title>Account Patient</title>
{% endblock head %}

{% block content %}
    <div class="container-fluid w-100 mt-5 bg-light rounded-4 border border-dark border-2 text-center">
        <span class="text-dark fw-bold fs-4">Welcome</span> <p>{{ user.first_name }} {{ user.last_name }}</p>
        <div class="row mb-3">
            <div class="col">
                <a class="btn btn-dark btn-sm" href="{% url 'patient-choose' %}">Book a service</a>
            </div>
            <div class="col">
                <a class="btn btn-dark btn-sm" href="{% url 'patient-update' user.id  %}">Settings Account</a>
            </div>
            <div class="col">
                <a class="btn btn-dark btn-sm" href="{% url 'patient-opinion' %}">Add your opinion</a>
            </div>
            <div class="col">
                <a class="btn btn-dark btn-sm" href="{% url 'main'%}">Home</a>
            </div>
        </div>
    </div>
    {% if appointments %}
    <div class="container-fluid w-100 mt-3 bg-light rounded-4 border border-dark border-2 text-center">
        <p class="fw-bold fs-4">Your booked appointments</p>
            <div class="row fw-bold">
                <div class="col">
                    <p>Date</p>
                </div>
                <div class="col">
                    <p>Time</p>
                </div>
                <div class="col">
                    <p>Doctor</p>
                </div>
                <div class="col">
                    <p>Service</p>
                </div>
                <div class="col">
                    <p>Settings</p>
                </div>
            </div>
        {% for appointment in appointments %}
            <div class="row">
                <div class="col">
                    <p>{{ appointment.date }}</p>
                </div>
                <div class="col">
                    <p>{{ appointment.time }}</p>
                </div>
                <div class="col">
                    <p>{{ appointment.doctor }}</p>
                </div>
                <div class="col">
                    <p>{{ appointment.doctor.qualification.service.name }}</p>
                </div>
                <div class="col">
                    <a class="btn btn-danger btn-sm" href="{% url 'patient-cancel' appointment.pk %}">Cancel</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock content %}