{% extends 'base.html' %}

{% block head %}
    <title>Registration</title>
{% endblock head %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container-fluid w-50 mt-5 bg-light rounded-4 border border-dark border-2 text-center">
    <p class="fw-bold fs-4">Create a Patient Account</p>
    <p class="fw-bold">Personal Data</p>
        <form method="post" action="">
            {% csrf_token %}

            {{ form|crispy }}

           Read the full text of the <a href="{% url 'policy-regulation' %}" class='link-dark'>
            "Privacy Policy and Regulations</a><br>
            <button class="btn btn-dark mt-3 mb-3" type="submit">Register</button>
        </form>
    </div>
{% endblock content %}