{% extends 'base.html' %}

{% block head %}
    <title>Reset Password</title>
{% endblock head %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container-fluid w-50 mt-5 bg-light rounded-4 border border-dark border-2 text-center">
    <p class="fs-5 text-dark">Reset your password</p>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <button class="btn btn-dark mb-1 mt-2" type="submit">Reset</button>
        </form>
    </div>
{% endblock content %}